table, tr, th, td {
    border: 1px black;
}
p{
    text-align: center;
    font-size: 145%;
    color: black;
}
h1{
    text-align: center;
    font-size: 350%;
    margin-bottom: 22px;
    margin-top: 20px;
}
hr {
    /* previous color #D498D5 */
    border: 6px solid #BF88C0;
    border-radius: 100px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1700px;
}
.imgHr {
    max-width: 1300px;
}
b{
    color: black;
    text-align: center;
    font-size: 115%;
}
img{
    display: block;
    margin: auto;
    border-radius: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}
button{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
button .active {

}
li{
    display: inline;
}