<!DOCTYPE html><html lang="en">

{% load static %}

<head>
    <title>Scoops Personal Website</title>
    <link rel="icon" type="image/x-icon" href={% static "personal/favicon.ico" %}>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static "personal/style-main.css" %}">
    <link rel="stylesheet" href="{% static 'personal/navBar.css' %}">
    <script src="{% static 'personal/personal.js' %}"></script>
</head>

<script>

</script>


<body style="background-color: wheat">
<!-- This is an example Comment -->

<div class="topnav" id="myTopnav">
    <a href="/personal/" class="active">Home</a>
    <a>Projects</a>
    <a href="/personal/personal_achievements">Personal Achievments</a>
    <a href="">Life With Jordan</a>
    <a href="javascript:void(0);" class="icon" onclick="navBarFunction()">
        <i class="fade fa-bars"></i>
    </a>
</div>

<hr>

<h1>Scoop's Personal Website Home Page</h1>

<hr class="imgHr">

<img id="myImage" src="{% static 'personal/images/IceCreamPhoto.jpg' %}" alt="Ice Cream Scoop Scooping up Chocolate Ice Cream">

<hr class="imgHr">

<p>My Personal Goals : <br><b><i><q>Love the world more than the world might love me</q></i></b></p>

<p>and<br><b><i><q>Acquire all the knowledge that will fit in my brain; Knowledge is power</q></i></b></p>

<hr>

</body>
</html>