<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <link rel="icon" type="image/x-icon" href={% static "personal/favicon.ico" %}>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'personal/navBar.css' %}">
    <link rel="stylesheet" href="{% static 'personal/style-personal-achievements.css' %}">
    <script src="{% static 'personal/personal.js' %}"></script>
</head>

<body style="background-color: wheat">
    <div class="topnav" id="myTopnav">
        <a href="/personal/">Home</a>
        <a>Projects</a>
        <a href="" class="active">Personal Achievments</a>
        <a href="">Life With Jordan</a>
        <a href="javascript:void(0);" class="icon" onclick="navBarFunction()">
            <i class="fade fa-bars"></i>
        </a>
    </div>

    <hr>

    <div class="calcExplanation">
        <h2>Taught my self to code Calculus functions via volatility for a currency trading bot</h2>
        <div class="calcExplanationRow">
            <div class="calcExplanationColumn1">
                <img class="calcPic" src="{% static 'personal/images/calcfunctionPicture.png' %}">
            </div>
            <div class="calcExplanationColumn2">
                <span class="calcText">To the right is a self built function that takes in a list full of prices and the times that price itself was taken. <br>
                <br>The function will then go through the list, calculate the volatility price, which is (current price - average price)^2, And then proceeds to divide by the length of the list up until that price point. The result is the derivative AKA (in terms of finance) as the volatility.<br>
                <br>We then do this for multiple time points, such as 5 min, 15 min, 1 hour, 3 hour, 6 hour, 12 hour, 1 doy, 2 day, and 1 week<br>
                <br>But if there is only one item in the list, then we set all of our volatility numbers to 0  so as to avoid confusion in the other logic of our program</span></li>
            </div>
        </div>
    </div>

    <hr>
    <div class="websiteExplanation">
        <h2 class="djangoWebsiteTitle">This is my self-taught Django progress for this website specifically</h2>
        <div class="djangoExplanationsRow1">
            <div class="djangoCodeTextColumn1">
                <p>To the right, we have our URL set up<br>
                <br>At the moment, we only have four URLS,<br>
                    /personal<br>
                    /personal/pretty<br>
                    /personal/pretty/tests<br>
                    /personal/personal_achievements<br>
                    These four URLs lead to the various tabs at the top of the screen</p>
            </div>
            <div class="djangoCodePicColumn1">
                <img class="djangoCodePic1" src="{% static 'personal/images/websiteDjangoUrlsCodePic.png' %}">
            </div>
        </div>

        <div class="djangoExplanationsRow2">
            <div class="djangoCodePicColumn2">
                <img class="djangoCodePic2" src="{% static 'personal/images/websiteDjangoViewsCodePic.png' %}">
            </div>
            <div class="djangoCodeTextColumn2">
                <p>To the left are currently all the views made for this website.<br>
                <br> Right now there is only four views needed. the four views are for each of the tabs at the top I have worked out.<br>
                <br>the four views are personal_website which is for the main page,
                    pretty_website which is for the pretty tab (this is mostly a practice tab for javascript),
                    pretty_test_website which is a test site to experiment with,
                    and the personal_achievements view which is for this current webpage</p>
            </div>
        </div>

        <div class="djangoExplanationsRow3">
            <div class="djangoCodeTextColumn3">
                <p>To the right is a snipit of the HTML I wrote for this webpage in particular</p>
            </div>
            <div class="djangoCodePicColumn3">
                <img class="djangoCodePic3" src="{% static 'personal/images/websiteHtmlCodePic.png' %}">
            </div>
        </div>

        <div class="djangoExplanationsRow4">
            <div class="djangoCodePicColumn4">
                <img class="djangoCodePic4" src="{% static 'personal/images/websiteNavBarFunctionPic.png' %}">
            </div>
            <div class="djangoCodeTextColumn4">
                <p>This is the primary function used in this website ATM.<br>
                <br>This is specially for the nav bar at the top hence the name.<br>
                <br>Trying to add more and find more reasons to add more JS to this website</p>
            </div>
        </div>
        <div class="djangoExplanationsRow5">
            <div class="djangoCodeTextColumn5">
                <p>To the right is the CSS file I made for this portion of the website specially.<br>
                <br>I labeled each div and p with classes so we can speicflly format each piece as needed, but kept general headings, such as the h2, generic so we can maintain a consistent format through the while file.</p>
            </div>
            <div class="djangoCodePicColumn5">
                <img class="djangoCodePic5" src="{% static 'personal/images/websiteCssCodePic.png' %}">
            </div>
        </div>
    </div>

    <hr>

</body>

</html>