<!DOCTYPE html><html lang="en">

{% load static %}

<link rel="stylesheet" href="{% static 'personal/style-pretty.css' %}">
<script type="text/javascript" src="{% static "personal/pretty.js" %}"></script>

<head>
    <title>The Pretty portion of the website</title>
    <link rel="icon" type="image/x-icon" href={% static "personal/favicon.ico" %}>
</head>
<hr>

<body>
<h1>The Pretty portion of the website</h1>
</body>

<hr>

<div class="pictureContainer">
    <div class="picture fade">
        <div class="numbertext">1 / 4</div>
        <img src="{% static "personal/images/Lupins-Of-Lake-Tekapo.jpg" %}">
        <div class="text">The Lupins of Lake Tekapo</div>
    </div>

    <div class="picture fade">
        <div class="numbertext">2 / 4</div>
        <img src="{% static "personal/images/Maligne-Lake-Spirit-Island.jpg" %}">
        <div class="text">Spirit Island on Maligne Lake</div>
    </div>

    <div class="picture fade">
        <div class="numbertext">3 / 4</div>
        <img src="{% static "personal/images/Paria-Rimrocks-Utah.jpg" %}">
        <div class="text">The Paria Rimrocks in Utah</div>
    </div>

    <div class="picture fade">
        <div class="numbertext">4 / 4</div>
        <img src="{% static "personal/images/Zelenchi-Springs-Solvenia.jpg" %}" style>
        <div class="text">Zelenchi Springs in Solvenia</div>
    </div>

    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>

</div>
<br>
<div class="circles" style="text-align: center">
    <span class="dot" onclick="currentSlides(1)"></span>
    <span class="dot" onclick="currentSlides(2)"></span>
    <span class="dot" onclick="currentSlides(3)"></span>
    <span class="dot" onclick="currentSlides(4)"></span>
</div>

</html>